:root {
  --main-color: #33323d;
  --primary-color: #5fb4a2;
  --dark-blue: #203a4c;
  --grayish-dark-blue: #33323d;
  --light-grey-bg: #d7d7d7;
  --light-grey: #eaeaeb;
  --bright-red-errors: #f43030;
  --public-family: "Public Sans", "Arial", sans-serif;
  --ibarra-real-fy: "Ibarra Real Nova", " Arial ", sans-serif;
}

.contact-main {
  padding-bottom: 10.9em;
}

.communication-department-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.communication-department__info {
  max-width: 635px;
  width: 100%;
}

.communication-department__title {
  font-family: var(--ibarra-real-fy);
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.05;
  letter-spacing: -0.357143px;
}

.communication-department__title__tetx {
  line-height: 2;
  margin-bottom: 2.4rem;
}

.social-networks {
  padding-left: 0;
}

.linya {
  margin-top: 0;
  margin-bottom: 0;
}

/* CONTACT-ME */
.contact-me {
  display: flex;
  justify-content: space-between;
  padding-top: 4.8rem;
}

.contact-me__title {
  font-family: var(--ibarra-real-fy);
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.05;
  letter-spacing: -0.357143px;
  margin-right: 3rem;
}

.form {
  max-width: 635px;
  width: 100%;
  font-weight: 700;
  font-size: 13px;
  line-height: 2.3;
  opacity: 0.8;
}

.form__label {
  display: block;
  margin-bottom: 0.8rem;
}

.form__input {
  width: 100%;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  padding-left: 1.6rem;
  border: 0;
  background-color: var(--light-grey-bg);
  margin-bottom: 2.4rem;
}

textarea {
  display: block;
  margin-bottom: 2.4rem;
  width: 100%;
  resize: vertical;
  padding-top: 0.9rem;
  padding-bottom: 5.7rem;
  padding-left: 1.6rem;
  color: var(--main-color);
  border: 0;
  background-color: var(--light-grey-bg);
}

.contact-me__btn {
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1.7rem 2.4rem;
  border: 1px solid transparent;
  background-color: var(--dark-blue);
  color: #fff;
  cursor: pointer;
}

/* MEDIA */
@media screen and (max-width: 768px) {
  .communication-department-wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .communication-department__title {
    margin-bottom: 2.4rem;
  }
}

@media screen and (max-width: 500px) {
  .contact-me {
    flex-direction: column;
  }

  .contact-me__title {
    text-align: center;
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
